header {
  background-color: $bg-c0-dark ;

  nav {
    .container {
      .navbar-brand {
        img {
          width: 120px !important;
        }
      }

      .navbar-toggler {
        color: $text-c0-light !important;
      }

      .collapse {
        flex-grow: 0 !important;

        .navbar-nav {
          .nav-item {
            .nav-link {
              color: $text-c0-light;
              font-size: $text-small;
              transition: all 1s;

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}