*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Header 
.register_header{
    background-color: black;
    .container{
        .logo{
            a{
                i{
                    color: red;
                }
            }
        }
        .menu{
            a{

            }
        }
    }
}